@use 'src/styles/vars';

.messages{
  border: solid 0.1rem #eaeaea;
  background-color: vars.$color-container;
  height: 80vh;
  margin-bottom: 2rem;
  padding: 2rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 50%;
  margin: auto;
  
}
