@use 'sass:color';
@use 'src/styles/vars';

.settings {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  transition: transform 0.3s vars.$easeBack;

  &--closed {
    transform: translateX(calc(100% - 5rem));

    .settings-toggler { // .settings--closed .settings-toggler 
      transform: rotate(45deg);
    }
  }
  
  &-message {
    margin-left: 1rem;
    text-align: center;
    width: 17em;
    padding: 1rem;
    background-color: white;
  }

  &-form {
    width: 18em;
    padding-left: 1rem;
  }

  &-input {
    width: 100%;
    height: 3rem;
    border: 0;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.5rem;

    &:focus {
      box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .35)
    }
  }

  &-action {
    width: 100%;
    border: 0;
    background-color: #5300FF;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;

    &:hover, &:focus {
      background-color: color.scale(#5300FF, $lightness: -20%);
    }
  }

  &-toggler {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: vars.$color-text;
    border: 0;
    border-radius: 50%;
    transition: transform 0.3s vars.$easeBack;

    &:hover, &:focus {
      box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .35)
    }
  }
}
